#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Linux start script should use lf
/gradlew        text eol=lf

# These are Windows script files and should use crlf
*.bat           text eol=crlf

# Exception for gradlew.bat to prevent line ending issues
gradlew.bat     -text

# Binary files should be left untouched
*.jar           binary

